.weather-gradient {
    background: linear-gradient(120deg, #e7fbfd 0%, #004cff 100%);
}

.loading {
    animation: pulse 1.5s infinite;
}

@keyframes pulse {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
}
